<nav class="navbar navbar-expand-lg bg-body-tertiary container-header">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <img
      src="/Images/Learning Hooman Logo.png"
      class="custom-logo logo"
      alt="learninghooman.com"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-middle" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Courses
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a
                class="dropdown-item dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >English Courses</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Grammar</a></li>
                <li><a class="dropdown-item" href="#">Literature</a></li>
                <li><a class="dropdown-item" href="#">Writing Skills</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">Maths Courses</a></li>
            <li><a class="dropdown-item" href="#">Science Courses</a></li>
            <li><a class="dropdown-item" href="#">Computer Courses</a></li>
            <li><a class="dropdown-item" href="#">Olympiad Courses</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tutoring
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Online Tutoring Services</a>
            </li>
            <li>
              <a class="dropdown-item" href="/contact"
                >Grade Tutoring (1 to 12)</a
              >
            </li>
            <li class="dropdown-submenu">
              <a
                class="dropdown-item dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Subject Tutoring</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/contact">Olympiad Tutoring</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact">Coding Classes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact">NEET Classes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact">CUET Classes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact">JEE Classes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact">CLAT Classes</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact">NDA Classes</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/about"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About Us
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/testimonials">Testimonials</a>
            </li>
            <li><a class="dropdown-item" href="/career">Career</a></li>
            <li><a class="dropdown-item" href="/about">About us</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="social-icons d-flex align-items-center">
      <a href="https://www.facebook.com/share/1PJmEByBYQ/">
        <img
          class="facebookLogo socialLogo"
          src="/Images/Facebook.png"
          alt="Facebook logo"
        />
      </a>
      <a
        href="https://www.instagram.com/hoomanlearning?igsh=MWhidXVmdjNlMGxwbg=="
      >
        <img
          class="instaLogo socialLogo"
          src="/Images/Instagram.png"
          alt="Instagram logo"
        />
      </a>
    </div>
  </div>
</nav>
